
extends _base/_base.pug

block body
    .is-fixed-top.hero.is-primary#gradient
        .hero-body
            .container
                .title.is-size-5#dashboard_username
                    Lorem Ipsum
                .subtitle.is-size-6#dashboard_email
                    Lorem Ipsum
